div {
    background-color: #f9f9f9;
    color: rebeccapurple;
    text-shadow: 0 0 0 red;
  }

  div {
    background-color: #f9f9f9;
    text-align: center;
    direction: ltr;
  }
  img {
    vertical-align: middle;
  }

  div {
    background-color: #f9f9f9;
    text-transform: capitalize;
  }

  div {
    background-color: #f9f9f9;
    word-spacing: 5px;
  }