.with-ser {
    font-family: 'Times New Roman', Times, serif;
  }
  .san-ser {
    font-family: Arial, Helvetica, sans-serif;
  }
  .with-ser,
  .san-ser {
    background-color: #EEE;
    padding: 10px;
  }


  body {
    font-size: 40px;
  }
  div {
    font-size: 5vw;
  }
  div span {
    font-size: 2rem;
  }